.container {
    max-width: var(--container-width); 
    min-height: 40vh; 
    box-shadow: var(--box-shadow);
    z-index: var(--level-three); 
}
.food_item {
    width: 100%; 
}
.even {
    flex-direction: row-reverse; 
  }
.food_item > div {
    width: 100%; 
    height: 180px; 
    padding: 0; 
    overflow: hidden; 
}

.food_item > div img {
    padding-top: .4rem; 
    width: 100%; 
    height: 100%; 
    object-fit: cover;

}
.food_description {
    padding: 1.3rem 0 !important; 
}
.food_description > h4, .food_description > p {
    text-align: center; 
}
.food_description p {
    /* padding: .3rem;  */
    max-width: 80%; 
    
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2;  
           line-clamp: 2; 
   -webkit-box-orient: vertical;
   margin: .2rem auto; 
}

@media (max-width: 800px) {
    .food_item {
        flex-direction: row;
    }
    .food_item > div {
        height: 150px; 
    }
    .even {
        flex-direction: row-reverse; 
    }
}