.pge__err {
    width: 100%; 
    height: 70vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--txt-color); 
    border: 1px solid var(--main-color);
    border-radius: 10px;
    margin: 1rem 0; 
    padding: 1rem;
 }
 
 .pge__err img {
    width: 90%;
    height: 70%; 
    object-fit: contain;
 }
 .pge__err  p {
    margin: 1rem 0 .4rem; 
    font-size: 1.5rem;
    letter-spacing: 1.5px;
 }