@font-face {
  font-family: "Fabiola";
  src: url('/fonts/fabiolla-personal-use.ttf')
}
@font-face {
  font-family: "Mansions";
  src: url('/fonts/Mansions Brush Script.ttf')
}
@font-face {
  font-family: "Lacoste";
  src: url('/fonts/Lacosta_PERSONAL_USE_ONLY.ttf')
}

html,
body {
  font-family: 'Poppins', sans-serif;
}
html {
  font-size: 16px;
  overflow: hidden;
}
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0; 
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


:root {
  --black-color: #000; 
  --white-color: #fff; 
  --grey-color: #dcdcdc; 

  --main-color: #356dbe;
  --secondary-color: #f6f6f6; 
   
  --active-color: var(--main-color);
  --danger-color: tomato; 
  --warning-color: #ffcc00; 

  --border-radius: .5rem; 
  --transition: all .3s ease; 
  --box-shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --box-shadow: var(--box-shadow-light); 

  --page-width: 90rem; 
  --container-width: 1000px; 

  --level-one: 500; 
  --level-two: 1000; 
  --level-three: 1500; 

  --hero-height: 100vh; 
}


/* common css rules */
a {
  font-size: 1rem; 
  color: var(--black-color);
  text-decoration: none;
  transition: var(--transition); 
}
a:hover {
  color: var(--active-color);
}

h1 {
  font-size: 1.7rem;
}
h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.2rem; 
}

/* re-usable css rules for flex */
.flex {
  display: flex; 
}
 
.fx-1 {
  flex: 1; 
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: start;
}
.align-fx-end {
  align-items: flex-end; 
}

.fx-column {
  flex-direction: column;
}
.fx-spc-between {
  justify-content: space-between;
}
.fx-justify-start {
  justify-content: flex-start;
}
.fx-wrap {
  flex-wrap: wrap;
}
/* more common styles */
.m-top-10 {
  margin-top: 1.5rem; 
}
.m-v-10 {
  margin: 1.5rem 0; 
}
.border-1px-white  {
  border: 1px solid var(--white-color); 
}
.p-8 {
  padding: .8rem; 
}
.m-8 {
  margin: .8rem; 
}
.b-radius-7 {
  border-radius: .7rem; 
}
.w-100 {
  width: 100%; 
}
.m-auto {
  margin: 0 auto; 
}
/* media query common css rules for mobile */
@media screen and (max-width: 768px) {
  html {
    font-size: 14px; 
  }
  .flex {
    flex-direction: column;
  }
  
  .align-center {
    align-items: flex-start;
  }
  .align-center-md {
    align-items: center;
  }
  .fx-row {
    flex-direction: row; 
    align-items: center; 
  }
  :root {
    --hero-height: 40vh; 
  }
  
}