html,
body {
  font-family: 'Poppins', sans-serif;
}
html {
  font-size: 16px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


:root {
  --black-color: #000; 
  --white-color: #fff; 

  --main-color: #356dbe;
  --secondary-color: #f6f6f6; 
   
  --grey-color: #dcdcdc; 
  --active-color: var(--main-color);
  --danger-color: tomato; 
  --warning-color: #ffcc00; 

  --border-radius: 1.2rem; 
  --transition: all .3s ease; 
  --box-shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --box-shadow: var(--box-shadow-light); 

  --page-width: 130rem; 
}


/* common css rules */
a {
  font-size: 1.3rem; 
  color: var(--black-color);
  text-decoration: none;
  transition: var(--transition); 
}
a:hover {
  color: var(--active-color);
}

h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.4rem; 
}

/* re-usable css rules for flex */
.flex {
  display: flex; 
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: start;
}
.align-fx-end {
  align-items: flex-end; 
}

.fx-column {
  flex-direction: column;
}
.fx-spc-between {
  justify-content: space-between;
}
.fx-justify-start {
  justify-content: flex-start;
}

/* media query common css rules for mobile */
@media screen and (max-width: 768px) {
  html {
    font-size: 14px; 
  }
  .flex {
    flex-direction: column;
  }
  
}