/* counters on highlights */
.counter {
    font-weight: bold; 
    font-size: 1.8rem; 
    margin: 1.5rem 0; 
}
.counter_separator {
    display: block; 
    height: 19px; 
    width: 2px; 
    margin: 0 .9rem; 
}

@media (max-width: 800px) {
    .counter {
        margin: .2rem 0; 
    }
    .counter_separator {
        display: none; 
    }
}

/* map styles */

.map {
    width: 100%; 
    height: 40vh; 
    border-radius: .7rem;
    overflow: hidden;
    z-index: -1; 
}
.location_image {
    flex: 1; 
    min-width: 300px; 
    height: 250px; 
    margin-right: .2rem; 
    margin-bottom: .2rem; 
    overflow: hidden; 
    position: relative; 
}
.location_image img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}
.location_image p {
    text-transform: capitalize;
    background-color: rgba(0,0,0,.8);
    padding: .8rem; 
    color: var(--white-color);
    z-index: 1000; 
    position: absolute; 
    bottom: 0; 
    right: 0; 
    margin: .3rem; 
    border-radius: .4rem; 
    font-size: .7rem; 
}
@media (max-width: 800px) {
    .location_image {
        min-width: 150px; 
        height: 150px; 
    }
    .map {
        height: 20vh; 
    }
}